<section class="bg-surface-low text-b-nav p-4 block md:hidden">
  <div class="side-links flex justify-between gap-1">
    <a
      routerLink="/projects"
      routerLinkActive="text-primary"
      class="flex flex-col items-center gap-1 px-3 py-2.5 hover:shadow-card rounded-sm hover:bg-white cursor-pointer"
    >
      <i class="fa-regular fa-folder-open text-xl"></i>
      <span class="text-xs font-medium transition-opacity duration-200"
        >Projects</span
      >
    </a>

    <a
      routerLink="/project-ebics"
      routerLinkActive="text-primary bg-white shadow-card"
      class="flex flex-col items-center gap-1 px-3 py-2.5 hover:shadow-card rounded-sm hover:bg-white cursor-pointer"
    >
      <i class="fa-solid fa-folder-tree text-xl"></i>
      <span class="text-xs font-medium transition-opacity duration-200"
        >Ebics</span
      >
    </a>

    <a
      routerLink="/project-tasks"
      routerLinkActive="text-primary bg-white shadow-card"
      class="flex flex-col items-center gap-1 px-3 py-2.5 hover:shadow-card rounded-sm hover:bg-white cursor-pointer"
    >
      <i class="fa-solid fa-list-check text-xl"></i>
      <span class="text-xs font-medium transition-opacity duration-200"
        >Tasks</span
      >
    </a>

    <a
      routerLink="/project-members"
      routerLinkActive="text-primary bg-white shadow-card"
      class="flex flex-col items-center gap-1 px-3 py-2.5 hover:shadow-card rounded-sm hover:bg-white cursor-pointer"
    >
      <i class="fa-solid fa-user-group text-xl"></i>
      <span class="text-xs font-medium transition-opacity duration-200"
        >Members</span
      >
    </a>

    <a
      routerLink="/project-ebics"
      routerLinkActive="text-primary bg-white shadow-card"
      class="flex flex-col items-center gap-1 px-3 py-2.5 hover:shadow-card rounded-sm hover:bg-white cursor-pointer"
    >
      <i class="fa-solid fa-circle-info text-xl"></i>
      <span class="text-xs font-medium transition-opacity duration-200"
        >Details</span
      >
    </a>
  </div>
</section>
